@import "tailwindcss";

@theme{
  --font-lato: var(--font-lato);
  --font-poppins: var(--font-oswald);
  --color-black-bg: #000000;
  --color-searchbar-bg: #F0F0F0;

}


@layer components{
  .container{
    @apply mx-auto !max-w-[1240px];
  }
}